/*  Color Code :
    Black : #000000
    Grey text : #828282
    White BG : #ffffff
    Blue from Figma : #2F80ED
    transparent 40% : #hex-code + 66

*/

body {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI';
    background-color: #f9fcff;
}

nav {
    background-color: #ffffff;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    box-shadow: 0 2px 12px 0 #2F80ED66;
    padding-inline-start: 20px;
    padding-inline-end: 20px;
}

.logo {
    float: left;
    margin-right: 12px;
    margin-top: 6px;
    margin-bottom: 6px;
    width: 50px;
    height: 50px;
}

.main-title {
    float: left;
    font-size: 20pt;
    color: #2F80ED;
    text-decoration: none;
    font-weight: bold;
    margin: 10px 0px;
}

main {
    margin: auto;
    padding: 50px 10px 10px 10px;
    overflow: auto;
    max-width: 1100px;
    width: 85%;
}

#content {
    float: left;
    width: 65%;
    max-width: 715px;
}

.title-content {
    font-size: 16pt;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    margin-top: 40px;
    margin-bottom: 10px;
}

.sub-content {
    font-size: 14pt;
    text-decoration: none;
    font-weight: bold;
    margin-top: 0px;
    margin-bottom: 10px;
}

.card1  {
    box-shadow: 0 2px 12px 0 #2F80ED66;
    padding: 20px;
    margin: 20px 15px 30px 15px;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    background-color: #ffffff;
}

.book-list {
    padding: 14px;
}

.book {
    padding-top: 10px;
    padding-bottom: 16px;
    padding-left: 16px;
    padding-right: 16px;
    border: 1px solid #2F80ED;
    border-radius: 5px;
    margin: 10px 0px;
}

.title-book {
    font-size: 16pt;
    color: #2F80ED;
    margin-top: 0px;
    margin-bottom: 0px;
}

.author-book {
    color: #2F80ED;
    margin-top: 10px;
    margin-bottom: 0px;
    font-weight: 400;
}

.year-book {
    color: #2F80ED;
    margin-top: 10px;
    margin-bottom: 10px;
}

.book button {
    margin: 0px 10px 0px 0px;
    border-radius: 5px;
    cursor: pointer;
    transition: .4s ease-out;
}

.finish {
    border: 1px solid;
    border-color: #009966;
    background-color: #009966;
    color: #ffffff;
    font-size: 10pt;
    padding: 6px;
    width: 140px;
}

.finish:hover {
    background-color: #ffffff;
    color: #009966;
}

.unfinish {
    border: 1px solid;
    border-color: #6F7C80;
    background-color: #6F7C80;
    color: #ffffff;
    font-size: 10pt;
    padding: 6px;
    width: 140px;
}

.unfinish:hover {
    background-color: #ffffff;
    color: #6F7C80;
}

.delete {
    border: 1px solid;
    border-color: #E3242B;
    background-color: #ffffff;
    color: #E3242B;
    font-size: 10pt;
    padding: 6px;
    width: 100px;
}

.delete:hover {
    background-color: #E3242B;
    color: #ffffff;
}



aside {
    float: right;
    width: 35%;
    max-width: 385px;
    text-align: center;
}

.title-search {
    font-size: 16pt;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    margin-top: 40px;
    margin-bottom: 10px;
}

.title-add {
    font-size: 16pt;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    margin-top: 20px;
    margin-bottom: 10px;
}

.title-profile {
    font-size: 16pt;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    margin-top: 20px;
    margin-bottom: 10px;
}

.card2  {
    box-shadow: 0 2px 12px 0 #2F80ED66;
    padding: 20px;
    margin: 20px 15px;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    background-color: #ffffff;
}

.card3  {
    box-shadow: 0 2px 12px 0 #2F80ED66;
    padding: 20px;
    margin: 20px 15px;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    background-color: #ffffff;
    align-items: center;
}

.label-input {
    float: left;
    margin-top: 0px;
    margin-bottom: 10px;
    font-size: 14pt;
    font-weight: bold;
}

.input-text {
    width: 100%;
    margin-top: 0px;
    margin-bottom: 10px;
    box-sizing: border-box;
    padding: 6px;
    border-radius: 5px;
    border-color: #2F80ED66;
}

.input-check {
    float: left;
    margin: 4px 16px;
    cursor: pointer;
    width: 20px;
    height: 20px;
}

.button-add {
    background-color: #2F80ED;
    border-color: #2F80ED;
    color: #ffffff;
    cursor: pointer;
    border: 1px solid;
    border-radius: 5px;
    font-size: 12pt;
    width: 100%;
    padding: 6px 0px;
    margin-top: 10px;
    margin-bottom: 0px;
    transition: .4s ease-out;
}

.button-add:hover {
    background-color: #ffffff;
    color: #2F80ED;
    transition: .4s ease-out;
}

.profile-img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-image: url("pict/profile-mail.jpg");
    background-size: cover;
}

.profile-img:hover {
    background-image: url("pict/profile-mail-privacy.jpg");
}

.username-profile {
    font-size: 16;
    text-decoration: none;
    font-weight: lighter;
    margin-top: 10px;
    margin-bottom: 10px;
}

.username-profile:hover {
    color: #2F80ED;
}

.name-profile {
    font-size: 16;
    text-decoration: none;
    font-weight: 600;
    margin-top: 0;
    margin-bottom: 10px;
}

.job-profile {
    font-size: 16;
    text-decoration: none;
    font-weight: lighter;
    margin-top: 0;
    margin-bottom: 10px;
}

.quote-profile {
    font-size: 16;
    text-decoration: none;
    font-style: italic;
    font-weight: lighter;
    margin-top: 0;
    margin-bottom: 0;
}

.social-icon {
    margin-top: 14px;
    margin-inline: 10px 0px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.social-icon:hover {
    background-color: #2F80ED;
}



footer {
    position: relative;
    display: flex;
    flex-direction: row;
    padding-inline-start: 10px;
    padding-inline-end: 10px;
    padding-top: 4px;
    padding-bottom: 4px;
    margin-top: 10px;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #ffffff;
    box-shadow: 2px 0 12px 0 #2F80ED66;
}

#foot-text {
    display: flex;
    flex-grow: 2;
    flex-direction: column;
    color: #2F80ED;
    text-align: center;
}

.judul-foot {
    text-decoration: none;
    font-size: 12pt;
    font-weight: 600;
    margin-top: 10px;
    margin-bottom: 10px;
}